<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:3000/#">Machouille</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/shopping-cart"><i class="fas fa-shopping-cart"></i> <span class="badge badge-secondary">{{session.cart.totalQty}}</span>   Shopping Cart</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> Mon compte
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {{# if login}}
                        <a class="dropdown-item " href="/user/profile">Compte utilisateur</a>
                        <a class="dropdown-item" href="/user/logout">Déconnection</a>
                        {{else}}
                        <a class="dropdown-item" href="/user/signin">Connection</a>
                        <a class="dropdown-item " href="/user/signup">Inscription</a>
                    {{/if}}
                </div>
            </li>
        </ul>
    </div>
</nav>